@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

.body_div {
  min-height: 100vh;
  background-image: linear-gradient(
    to top,
    #93afcf 0%,
    rgb(228, 237, 239) 100%
  );
  overflow: scroll;
  margin: 0;
  padding: 0;
}

.flex_column {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flex_row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin_y {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

/* SVG */
.svg_container {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(5px 5px 5px #265db1);
  margin: 0.5rem;
}

/* Button */
.btn {
  filter: drop-shadow(6px 6px 5px #1b4583);
}

.btn_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

/* Top Page */
.top_image {
  min-height: 100vh;
  background-image: linear-gradient(
      rgba(255, 255, 255, 1) 20%,
      rgba(255, 255, 255, 0) 90%
    ),
    url(/images/title-image.png);
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 100%;
}

.title_image {
  min-height: 20vh;
  filter: drop-shadow(5px 5px 7px #1b4583);
  margin-top: 7rem;
}

@media screen and (max-width: 414px) {
  .top_image {
    background-size: 180%;
  }
}

@media screen and (min-width: 1023px) {
  .title_image {
    margin-top: 5rem;
  }
}

/* Setting Page */
.setting_svg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}

.setting_btn {
  width: 120px;
  filter: drop-shadow(6px 6px 5px #1b4583);
}

.setting_btn_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  margin: 4rem;
}

@media screen and (min-width: 415px) {
  .setting_btn_container {
    flex-direction: row;
  }
}

@media screen and (max-height: 666px) {
  .setting_svg {
    margin-top: 4rem;
  }
}

.input_ui {
  margin: 1rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

/* Game Page */

.ball {
  margin: 0.5rem;
  background-color: white;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  box-shadow: 5px 5px 8px 3px #1b4583 inset;
}

.bg_color {
  background-color: rgb(43, 142, 255);
  box-shadow: 3px 3px 5px 2px rgb(21, 83, 155);
}

.players_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
